In [406]:
# import necessary libriaries
import sqlite3
import csv
import pandas as pd

In [407]:
# import dataset from csv
data = pd.read_csv('data.csv', delimiter=';')
print(data)

    id symbol          name    datetime    price
0    1   AAPL     Apple Inc  2022-11-04  136.510
1    2     BA     Boeing Co  2022-11-04  160.210
2    3   INTC    Intel Corp  2022-11-04   27.960
3    4     KO  Coca-Cola Co  2022-11-04   59.490
4    5    NKE      Nike Inc  2022-11-04   97.320
5    6   AAPL     Apple Inc  2022-10-04  145.030
6    7     BA     Boeing Co  2022-10-04  129.400
7    8   INTC    Intel Corp  2022-10-04   27.425
8    9     KO  Coca-Cola Co  2022-10-04   56.950
9   10    NKE      Nike Inc  2022-10-04   87.700
10  11   AAPL     Apple Inc  2022-09-20  153.400
11  12     BA     Boeing Co  2022-09-20  145.260
12  13   INTC    Intel Corp  2022-09-20   29.065
13  14     KO  Coca-Cola Co  2022-09-20   59.680
14  15    NKE      Nike Inc  2022-09-20  103.820
15  16   AAPL     Apple Inc  2022-09-02  159.750
16  17     BA     Boeing Co  2022-09-02  155.190
17  18   INTC    Intel Corp  2022-09-02   32.210
18  19     KO  Coca-Cola Co  2022-09-02   62.390
19  20    NKE      Nike Inc  2022-09-02  107.460
20  21   AAPL     Apple Inc  2022-08-22  169.690
21  22     BA     Boeing Co  2022-08-22  159.400
22  23   INTC    Intel Corp  2022-08-22   35.000
23  24     KO  Coca-Cola Co  2022-08-22   64.840
24  25    NKE      Nike Inc  2022-08-22  111.020
25  26   AAPL     Apple Inc  2022-08-08  166.370
26  27     BA     Boeing Co  2022-08-08  166.410
27  28   INTC    Intel Corp  2022-08-08   35.360
28  29     KO  Coca-Cola Co  2022-08-08   63.500
29  30    NKE      Nike Inc  2022-08-08  114.000

In [408]:
# establish connection and cursor object
connection = sqlite3.connect("stocks.db")
cursor = connection.cursor()

In [409]:
# create empty table
cursor.execute ('''CREATE TABLE stocks (id PRIMARY KEY,
symbol TEXT UNIQUE,
name TEXT UNIQUE, 
datetime TEXT, 
price INTEGER);''');

In [410]:
# import dataset to database 'users' 
data.to_sql('stocks', connection, if_exists='replace')

In [411]:
# check the result
cursor.execute ('''SELECT * FROM stocks;''').fetchall()

[(0, 1, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 2, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (2, 3, 'INTC', 'Intel Corp', '2022-11-04', 27.96),
 (3, 4, 'KO', 'Coca-Cola Co', '2022-11-04', 59.49),
 (4, 5, 'NKE', 'Nike Inc', '2022-11-04', 97.32),
 (5, 6, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 7, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (7, 8, 'INTC', 'Intel Corp', '2022-10-04', 27.425),
 (8, 9, 'KO', 'Coca-Cola Co', '2022-10-04', 56.95),
 (9, 10, 'NKE', 'Nike Inc', '2022-10-04', 87.7),
 (10, 11, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 12, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (12, 13, 'INTC', 'Intel Corp', '2022-09-20', 29.065),
 (13, 14, 'KO', 'Coca-Cola Co', '2022-09-20', 59.68),
 (14, 15, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 16, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 17, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (17, 18, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (18, 19, 'KO', 'Coca-Cola Co', '2022-09-02', 62.39),
 (19, 20, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 21, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 22, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (22, 23, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (23, 24, 'KO', 'Coca-Cola Co', '2022-08-22', 64.84),
 (24, 25, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 26, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 27, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (27, 28, 'INTC', 'Intel Corp', '2022-08-08', 35.36),
 (28, 29, 'KO', 'Coca-Cola Co', '2022-08-08', 63.5),
 (29, 30, 'NKE', 'Nike Inc', '2022-08-08', 114.0)]

In [413]:
# ANALYSYS
# 1. What are the distinct stocks in the table?
cursor.execute ('''SELECT DISTINCT (symbol) FROM stocks;''').fetchall()

[('AAPL',), ('BA',), ('INTC',), ('KO',), ('NKE',)]

In [414]:
# 2. Query all data for a single stock. Do you notice any overall trends?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE symbol IS 'AAPL';''').fetchall()

[(0, 1, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (5, 6, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (10, 11, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (15, 16, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (20, 21, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (25, 26, 'AAPL', 'Apple Inc', '2022-08-08', 166.37)]

In [415]:
# 3. Which rows have a price above 100? 
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price > 100;''').fetchall()

[(0, 1, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 2, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (5, 6, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 7, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (10, 11, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 12, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (14, 15, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 16, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 17, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (19, 20, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 21, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 22, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (24, 25, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 26, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 27, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (29, 30, 'NKE', 'Nike Inc', '2022-08-08', 114.0)]

In [416]:
# 4. And how about between 30 to 50?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price BETWEEN 30 AND 50;''').fetchall()

[(17, 18, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (22, 23, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (27, 28, 'INTC', 'Intel Corp', '2022-08-08', 35.36)]

In [417]:
# 5. Sort the table by price. What are the minimum and maximum prices?
cursor.execute ('''SELECT * 
    FROM stocks
    ORDER BY price DESC;''').fetchall()

[(20, 21, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (26, 27, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (25, 26, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (1, 2, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (15, 16, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (21, 22, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (16, 17, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (10, 11, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 12, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (5, 6, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (0, 1, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (6, 7, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (29, 30, 'NKE', 'Nike Inc', '2022-08-08', 114.0),
 (24, 25, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (19, 20, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (14, 15, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (4, 5, 'NKE', 'Nike Inc', '2022-11-04', 97.32),
 (9, 10, 'NKE', 'Nike Inc', '2022-10-04', 87.7),
 (23, 24, 'KO', 'Coca-Cola Co', '2022-08-22', 64.84),
 (28, 29, 'KO', 'Coca-Cola Co', '2022-08-08', 63.5),
 (18, 19, 'KO', 'Coca-Cola Co', '2022-09-02', 62.39),
 (13, 14, 'KO', 'Coca-Cola Co', '2022-09-20', 59.68),
 (3, 4, 'KO', 'Coca-Cola Co', '2022-11-04', 59.49),
 (8, 9, 'KO', 'Coca-Cola Co', '2022-10-04', 56.95),
 (27, 28, 'INTC', 'Intel Corp', '2022-08-08', 35.36),
 (22, 23, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (17, 18, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (12, 13, 'INTC', 'Intel Corp', '2022-09-20', 29.065),
 (2, 3, 'INTC', 'Intel Corp', '2022-11-04', 27.96),
 (7, 8, 'INTC', 'Intel Corp', '2022-10-04', 27.425)]

In [418]:
# 6. Explore using aggregate functions to look at key statistics about the data.
# What is the maximum price? 
cursor.execute ('''SELECT symbol, name, datetime, MAX (price) 
    FROM stocks;''').fetchall()

[('AAPL', 'Apple Inc', '2022-08-22', 169.69)]

In [419]:
# 7. # What is the minimum price? 
cursor.execute ('''SELECT symbol, name, datetime, MIN (price) 
    FROM stocks;''').fetchall()

[('INTC', 'Intel Corp', '2022-10-04', 27.425)]

In [420]:
# 8. # What is the average price? 
cursor.execute ('''SELECT symbol, name, datetime, ROUND(AVG (price),0) 
    FROM stocks;''').fetchone()

('AAPL', 'Apple Inc', '2022-11-04', 101.0)

In [421]:
# 9. Group the data by stock. How do the stocks compare to each other?
cursor.execute ('''SELECT symbol, ROUND(AVG (price),0) 
    FROM stocks
    GROUP BY 1
    ORDER BY 2 DESC;''').fetchall()

[('AAPL', 155.0), ('BA', 153.0), ('NKE', 104.0), ('KO', 61.0), ('INTC', 31.0)]

In [422]:
# 10. Group the data by month. How do the months compare to each other?
cursor.execute ('''SELECT strftime ('%m', datetime) AS 'Month',
    ROUND (AVG (price), 0) AS 'Average Price',
    COUNT (*) AS 'Number of Stocks'
    FROM stocks
    GROUP BY 1
    ORDER BY 1;''').fetchall()

[('08', 109.0, 10), ('09', 101.0, 10), ('10', 89.0, 5), ('11', 96.0, 5)]

In [423]:
# 11. Insert data manually. First check the number of rows
cursor.execute ('''SELECT COUNT (*)
    FROM stocks;''').fetchone()

(30,)

In [424]:
# Perform the insert
cursor.execute ('''INSERT INTO stocks VALUES
    (31, 31, 'AAPL','Apple Inc', strftime('%Y-%m-%d','now'), 138.38);''')

In [425]:
cursor.execute ('''INSERT INTO stocks VALUES
    (32, 32, 'BA','Boeing Co', strftime('%Y-%m-%d','now'), 160.01);''')

In [426]:
cursor.execute ('''INSERT INTO stocks VALUES
    (33,33, 'NKE','Nike Inc', strftime('%Y-%m-%d','now'), 95.79);''')

In [427]:
cursor.execute ('''INSERT INTO stocks VALUES
    (34,34, 'KO','Coca-Cola Co', strftime('%Y-%m-%d','now'), 59.26);''')

In [428]:
cursor.execute ('''INSERT INTO stocks VALUES
    (35,35, 'INTC','Intel Corp', strftime('%Y-%m-%d','now'), 28.20);''')

In [429]:
# check the number of rows now
cursor.execute ('''SELECT COUNT (*)
    FROM stocks;''').fetchone()

(35,)

In [431]:
# `12. Which of the rows have a price greater than the average of all prices in the dataset?
# Let's find the average first
cursor.execute ('''SELECT ROUND (AVG (price), 2)
    FROM stocks;''').fetchone()

(100.1,)

In [432]:
# Find the rows which are greater than the average
cursor.execute ('''SELECT *
    FROM stocks
    WHERE price > 100.1;''').fetchall()

[(0, 1, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 2, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (5, 6, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 7, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (10, 11, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 12, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (14, 15, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 16, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 17, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (19, 20, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 21, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 22, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (24, 25, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 26, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 27, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (29, 30, 'NKE', 'Nike Inc', '2022-08-08', 114.0),
 (31, 31, 'AAPL', 'Apple Inc', '2022-11-05', 138.38),
 (32, 32, 'BA', 'Boeing Co', '2022-11-05', 160.01)]

In [433]:
# Additionally count thetotal number of such rows
cursor.execute ('''SELECT COUNT (*)
    FROM stocks
    WHERE price > 100.1;''').fetchone()

(18,)

In [434]:
# 13. Let's calculate the median price
cursor.execute ('''SELECT ROUND (AVG(price),0)
    FROM (SELECT price
    FROM stocks
    ORDER BY price
    LIMIT 2 - (SELECT COUNT(*) FROM stocks) % 2
    OFFSET (SELECT (COUNT(*) - 1) / 2
    FROM stocks));''').fetchone()

(104.0,)

In [435]:
# 14. Letâ€™s refactor the data into 2 tables - stock_info to store general info about the stock itself 
#(ie. symbol, name) and stock_prices to store the collected data on price (ie. symbol, datetime, price).
# First table
cursor.execute ('''CREATE TABLE stock_info AS SELECT id, symbol, name 
    FROM stocks;''')

In [436]:
# Second table
cursor.execute ('''CREATE TABLE stock_prices AS SELECT id, datetime, price 
    FROM stocks;''')

In [437]:
# 15. Create new table by joining the two tables above
cursor.execute ('''CREATE TABLE new_stocks AS SELECT * 
    FROM stock_info
    JOIN stock_prices
        ON stock_info.id = stock_prices.id;''')

In [438]:
# 16. Update table by adding sector column to the table
cursor.execute ('''CREATE TABLE final_stocks AS SELECT *,
    CASE
        WHEN symbol = 'KO' OR symbol = 'NKE' THEN 'RETL'
        WHEN symbol = 'AAPL' OR symbol = 'INTC' THEN 'IT'
        ELSE 'AERO'
    END AS 'Sector'
    FROM new_stocks;''')

In [439]:
# 17. Check the resulting table
cursor.execute ('''SELECT * 
FROM final_stocks;''').fetchall()

[(1, 'AAPL', 'Apple Inc', 1, '2022-11-04', 136.51, 'IT'),
 (2, 'BA', 'Boeing Co', 2, '2022-11-04', 160.21, 'AERO'),
 (3, 'INTC', 'Intel Corp', 3, '2022-11-04', 27.96, 'IT'),
 (4, 'KO', 'Coca-Cola Co', 4, '2022-11-04', 59.49, 'RETL'),
 (5, 'NKE', 'Nike Inc', 5, '2022-11-04', 97.32, 'RETL'),
 (6, 'AAPL', 'Apple Inc', 6, '2022-10-04', 145.03, 'IT'),
 (7, 'BA', 'Boeing Co', 7, '2022-10-04', 129.4, 'AERO'),
 (8, 'INTC', 'Intel Corp', 8, '2022-10-04', 27.425, 'IT'),
 (9, 'KO', 'Coca-Cola Co', 9, '2022-10-04', 56.95, 'RETL'),
 (10, 'NKE', 'Nike Inc', 10, '2022-10-04', 87.7, 'RETL'),
 (11, 'AAPL', 'Apple Inc', 11, '2022-09-20', 153.4, 'IT'),
 (12, 'BA', 'Boeing Co', 12, '2022-09-20', 145.26, 'AERO'),
 (13, 'INTC', 'Intel Corp', 13, '2022-09-20', 29.065, 'IT'),
 (14, 'KO', 'Coca-Cola Co', 14, '2022-09-20', 59.68, 'RETL'),
 (15, 'NKE', 'Nike Inc', 15, '2022-09-20', 103.82, 'RETL'),
 (16, 'AAPL', 'Apple Inc', 16, '2022-09-02', 159.75, 'IT'),
 (17, 'BA', 'Boeing Co', 17, '2022-09-02', 155.19, 'AERO'),
 (18, 'INTC', 'Intel Corp', 18, '2022-09-02', 32.21, 'IT'),
 (19, 'KO', 'Coca-Cola Co', 19, '2022-09-02', 62.39, 'RETL'),
 (20, 'NKE', 'Nike Inc', 20, '2022-09-02', 107.46, 'RETL'),
 (21, 'AAPL', 'Apple Inc', 21, '2022-08-22', 169.69, 'IT'),
 (22, 'BA', 'Boeing Co', 22, '2022-08-22', 159.4, 'AERO'),
 (23, 'INTC', 'Intel Corp', 23, '2022-08-22', 35.0, 'IT'),
 (24, 'KO', 'Coca-Cola Co', 24, '2022-08-22', 64.84, 'RETL'),
 (25, 'NKE', 'Nike Inc', 25, '2022-08-22', 111.02, 'RETL'),
 (26, 'AAPL', 'Apple Inc', 26, '2022-08-08', 166.37, 'IT'),
 (27, 'BA', 'Boeing Co', 27, '2022-08-08', 166.41, 'AERO'),
 (28, 'INTC', 'Intel Corp', 28, '2022-08-08', 35.36, 'IT'),
 (29, 'KO', 'Coca-Cola Co', 29, '2022-08-08', 63.5, 'RETL'),
 (30, 'NKE', 'Nike Inc', 30, '2022-08-08', 114.0, 'RETL'),
 (31, 'AAPL', 'Apple Inc', 31, '2022-11-05', 138.38, 'IT'),
 (32, 'BA', 'Boeing Co', 32, '2022-11-05', 160.01, 'AERO'),
 (33, 'NKE', 'Nike Inc', 33, '2022-11-05', 95.79, 'RETL'),
 (34, 'KO', 'Coca-Cola Co', 34, '2022-11-05', 59.26, 'RETL'),
 (35, 'INTC', 'Intel Corp', 35, '2022-11-05', 28.2, 'IT')]

In [405]:
# 18. Close connection and cursor, commit changes
cursor.close()
connection.commit()
connection.close()