In [8]:
# import necessary libriaries
import sqlite3
import csv
import pandas as pd

In [9]:
# import dataset from csv
data = pd.read_csv('data.csv', delimiter=';')
print(data)

   symbol          name          datetime    price
0    AAPL     Apple Inc  04.11.2022 17:06  136.510
1      BA     Boeing Co  04.11.2022 17:06  160.210
2    INTC    Intel Corp  04.11.2022 17:06   27.960
3      KO  Coca-Cola Co  04.11.2022 17:06   59.490
4     NKE      Nike Inc  04.11.2022 17:06   97.320
5    AAPL     Apple Inc   04.10.2022 8:00  145.030
6      BA     Boeing Co   04.10.2022 8:00  129.400
7    INTC    Intel Corp   04.10.2022 8:00   27.425
8      KO  Coca-Cola Co   04.10.2022 8:00   56.950
9     NKE      Nike Inc   04.10.2022 8:00   87.700
10   AAPL     Apple Inc   20.09.2022 8:00  153.400
11     BA     Boeing Co   20.09.2022 8:00  145.260
12   INTC    Intel Corp   20.09.2022 8:00   29.065
13     KO  Coca-Cola Co   20.09.2022 8:00   59.680
14    NKE      Nike Inc   20.09.2022 8:00  103.820
15   AAPL     Apple Inc   02.09.2022 8:00  159.750
16     BA     Boeing Co   02.09.2022 8:00  155.190
17   INTC    Intel Corp   02.09.2022 8:00   32.210
18     KO  Coca-Cola Co   02.09.2022 8:00   62.390
19    NKE      Nike Inc   02.09.2022 8:00  107.460
20   AAPL     Apple Inc   22.08.2022 8:00  169.690
21     BA     Boeing Co   22.08.2022 8:00  159.400
22   INTC    Intel Corp   22.08.2022 8:00   35.000
23     KO  Coca-Cola Co   22.08.2022 8:00   64.840
24    NKE      Nike Inc   22.08.2022 8:00  111.020
25   AAPL     Apple Inc   08.08.2022 8:00  166.370
26     BA     Boeing Co   08.08.2022 8:00  166.410
27   INTC    Intel Corp   08.08.2022 8:00   35.360
28     KO  Coca-Cola Co   08.08.2022 8:00   63.500
29    NKE      Nike Inc   08.08.2022 8:00  114.000

In [3]:
# establish connection and cursor object
connection = sqlite3.connect("stocks.db")
cursor = connection.cursor()

In [4]:
# create empty table
cursor.execute ('''CREATE TABLE stocks (symbol TEXT UNIQUE,
name TEXT UNIQUE, 
datetime TEXT, 
price INTEGER);''');

OperationalError: table stocks already exists

In [11]:
# import dataset to database 'users' 
data.to_sql('stocks', connection, if_exists='replace')

In [12]:
cursor.execute ('''SELECT * FROM stocks;''').fetchall()

[(0, 'AAPL', 'Apple Inc', '04.11.2022 17:06', 136.51),
 (1, 'BA', 'Boeing Co', '04.11.2022 17:06', 160.21),
 (2, 'INTC', 'Intel Corp', '04.11.2022 17:06', 27.96),
 (3, 'KO', 'Coca-Cola Co', '04.11.2022 17:06', 59.49),
 (4, 'NKE', 'Nike Inc', '04.11.2022 17:06', 97.32),
 (5, 'AAPL', 'Apple Inc', '04.10.2022 8:00', 145.03),
 (6, 'BA', 'Boeing Co', '04.10.2022 8:00', 129.4),
 (7, 'INTC', 'Intel Corp', '04.10.2022 8:00', 27.425),
 (8, 'KO', 'Coca-Cola Co', '04.10.2022 8:00', 56.95),
 (9, 'NKE', 'Nike Inc', '04.10.2022 8:00', 87.7),
 (10, 'AAPL', 'Apple Inc', '20.09.2022 8:00', 153.4),
 (11, 'BA', 'Boeing Co', '20.09.2022 8:00', 145.26),
 (12, 'INTC', 'Intel Corp', '20.09.2022 8:00', 29.065),
 (13, 'KO', 'Coca-Cola Co', '20.09.2022 8:00', 59.68),
 (14, 'NKE', 'Nike Inc', '20.09.2022 8:00', 103.82),
 (15, 'AAPL', 'Apple Inc', '02.09.2022 8:00', 159.75),
 (16, 'BA', 'Boeing Co', '02.09.2022 8:00', 155.19),
 (17, 'INTC', 'Intel Corp', '02.09.2022 8:00', 32.21),
 (18, 'KO', 'Coca-Cola Co', '02.09.2022 8:00', 62.39),
 (19, 'NKE', 'Nike Inc', '02.09.2022 8:00', 107.46),
 (20, 'AAPL', 'Apple Inc', '22.08.2022 8:00', 169.69),
 (21, 'BA', 'Boeing Co', '22.08.2022 8:00', 159.4),
 (22, 'INTC', 'Intel Corp', '22.08.2022 8:00', 35.0),
 (23, 'KO', 'Coca-Cola Co', '22.08.2022 8:00', 64.84),
 (24, 'NKE', 'Nike Inc', '22.08.2022 8:00', 111.02),
 (25, 'AAPL', 'Apple Inc', '08.08.2022 8:00', 166.37),
 (26, 'BA', 'Boeing Co', '08.08.2022 8:00', 166.41),
 (27, 'INTC', 'Intel Corp', '08.08.2022 8:00', 35.36),
 (28, 'KO', 'Coca-Cola Co', '08.08.2022 8:00', 63.5),
 (29, 'NKE', 'Nike Inc', '08.08.2022 8:00', 114.0)]

In [13]:
# 1. What are the distinct stocks in the table?
cursor.execute ('''SELECT DISTINCT (symbol) FROM stocks;''').fetchall()

[('AAPL',), ('BA',), ('INTC',), ('KO',), ('NKE',)]

In [18]:
# 2. Query all data for a single stock. Do you notice any overall trends?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE symbol IS 'AAPL';''').fetchall()

[(0, 'AAPL', 'Apple Inc', '04.11.2022 17:06', 136.51),
 (5, 'AAPL', 'Apple Inc', '04.10.2022 8:00', 145.03),
 (10, 'AAPL', 'Apple Inc', '20.09.2022 8:00', 153.4),
 (15, 'AAPL', 'Apple Inc', '02.09.2022 8:00', 159.75),
 (20, 'AAPL', 'Apple Inc', '22.08.2022 8:00', 169.69),
 (25, 'AAPL', 'Apple Inc', '08.08.2022 8:00', 166.37)]

In [26]:
# 3. Which rows have a price above 100? 
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price > 100;''').fetchall()

[(0, 'AAPL', 'Apple Inc', '04.11.2022 17:06', 136.51),
 (1, 'BA', 'Boeing Co', '04.11.2022 17:06', 160.21),
 (5, 'AAPL', 'Apple Inc', '04.10.2022 8:00', 145.03),
 (6, 'BA', 'Boeing Co', '04.10.2022 8:00', 129.4),
 (10, 'AAPL', 'Apple Inc', '20.09.2022 8:00', 153.4),
 (11, 'BA', 'Boeing Co', '20.09.2022 8:00', 145.26),
 (14, 'NKE', 'Nike Inc', '20.09.2022 8:00', 103.82),
 (15, 'AAPL', 'Apple Inc', '02.09.2022 8:00', 159.75),
 (16, 'BA', 'Boeing Co', '02.09.2022 8:00', 155.19),
 (19, 'NKE', 'Nike Inc', '02.09.2022 8:00', 107.46),
 (20, 'AAPL', 'Apple Inc', '22.08.2022 8:00', 169.69),
 (21, 'BA', 'Boeing Co', '22.08.2022 8:00', 159.4),
 (24, 'NKE', 'Nike Inc', '22.08.2022 8:00', 111.02),
 (25, 'AAPL', 'Apple Inc', '08.08.2022 8:00', 166.37),
 (26, 'BA', 'Boeing Co', '08.08.2022 8:00', 166.41),
 (29, 'NKE', 'Nike Inc', '08.08.2022 8:00', 114.0)]

In [27]:
# 4. And how about between 30 to 50?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price BETWEEN 30 AND 50;''').fetchall()

[(17, 'INTC', 'Intel Corp', '02.09.2022 8:00', 32.21),
 (22, 'INTC', 'Intel Corp', '22.08.2022 8:00', 35.0),
 (27, 'INTC', 'Intel Corp', '08.08.2022 8:00', 35.36)]

In [29]:
# 5. Sort the table by price. What are the minimum and maximum prices?
cursor.execute ('''SELECT * 
    FROM stocks
    ORDER BY price DESC;''').fetchall()

[(20, 'AAPL', 'Apple Inc', '22.08.2022 8:00', 169.69),
 (26, 'BA', 'Boeing Co', '08.08.2022 8:00', 166.41),
 (25, 'AAPL', 'Apple Inc', '08.08.2022 8:00', 166.37),
 (1, 'BA', 'Boeing Co', '04.11.2022 17:06', 160.21),
 (15, 'AAPL', 'Apple Inc', '02.09.2022 8:00', 159.75),
 (21, 'BA', 'Boeing Co', '22.08.2022 8:00', 159.4),
 (16, 'BA', 'Boeing Co', '02.09.2022 8:00', 155.19),
 (10, 'AAPL', 'Apple Inc', '20.09.2022 8:00', 153.4),
 (11, 'BA', 'Boeing Co', '20.09.2022 8:00', 145.26),
 (5, 'AAPL', 'Apple Inc', '04.10.2022 8:00', 145.03),
 (0, 'AAPL', 'Apple Inc', '04.11.2022 17:06', 136.51),
 (6, 'BA', 'Boeing Co', '04.10.2022 8:00', 129.4),
 (29, 'NKE', 'Nike Inc', '08.08.2022 8:00', 114.0),
 (24, 'NKE', 'Nike Inc', '22.08.2022 8:00', 111.02),
 (19, 'NKE', 'Nike Inc', '02.09.2022 8:00', 107.46),
 (14, 'NKE', 'Nike Inc', '20.09.2022 8:00', 103.82),
 (4, 'NKE', 'Nike Inc', '04.11.2022 17:06', 97.32),
 (9, 'NKE', 'Nike Inc', '04.10.2022 8:00', 87.7),
 (23, 'KO', 'Coca-Cola Co', '22.08.2022 8:00', 64.84),
 (28, 'KO', 'Coca-Cola Co', '08.08.2022 8:00', 63.5),
 (18, 'KO', 'Coca-Cola Co', '02.09.2022 8:00', 62.39),
 (13, 'KO', 'Coca-Cola Co', '20.09.2022 8:00', 59.68),
 (3, 'KO', 'Coca-Cola Co', '04.11.2022 17:06', 59.49),
 (8, 'KO', 'Coca-Cola Co', '04.10.2022 8:00', 56.95),
 (27, 'INTC', 'Intel Corp', '08.08.2022 8:00', 35.36),
 (22, 'INTC', 'Intel Corp', '22.08.2022 8:00', 35.0),
 (17, 'INTC', 'Intel Corp', '02.09.2022 8:00', 32.21),
 (12, 'INTC', 'Intel Corp', '20.09.2022 8:00', 29.065),
 (2, 'INTC', 'Intel Corp', '04.11.2022 17:06', 27.96),
 (7, 'INTC', 'Intel Corp', '04.10.2022 8:00', 27.425)]

In [36]:
# 6. Explore using aggregate functions to look at key statistics about the data.
# What is the maximum price? 
cursor.execute ('''SELECT symbol, name, datetime, MAX (price) 
    FROM stocks;''').fetchall()

[('AAPL', 'Apple Inc', '22.08.2022 8:00', 169.69)]

In [38]:
# 7. # What is the minimum price? 
cursor.execute ('''SELECT symbol, name, datetime, MIN (price) 
    FROM stocks;''').fetchall()

[('INTC', 'Intel Corp', '04.10.2022 8:00', 27.425)]

In [40]:
# 8. # What is the average price? 
cursor.execute ('''SELECT symbol, name, datetime, AVG (price) 
    FROM stocks;''').fetchall()

[(100.72700000000002,)]

In [6]:
# close connection and cursor, commit changes
cursor.close()
connection.commit()
connection.close()

('2022 11 04',)