In [105]:
# import necessary libriaries
import sqlite3
import csv
import pandas as pd
import datetime as dt

In [106]:
# import dataset from csv
data = pd.read_csv('data.csv', delimiter=';')
print(data)

   symbol          name    datetime    price
0    AAPL     Apple Inc  2022-11-04  136.510
1      BA     Boeing Co  2022-11-04  160.210
2    INTC    Intel Corp  2022-11-04   27.960
3      KO  Coca-Cola Co  2022-11-04   59.490
4     NKE      Nike Inc  2022-11-04   97.320
5    AAPL     Apple Inc  2022-10-04  145.030
6      BA     Boeing Co  2022-10-04  129.400
7    INTC    Intel Corp  2022-10-04   27.425
8      KO  Coca-Cola Co  2022-10-04   56.950
9     NKE      Nike Inc  2022-10-04   87.700
10   AAPL     Apple Inc  2022-09-20  153.400
11     BA     Boeing Co  2022-09-20  145.260
12   INTC    Intel Corp  2022-09-20   29.065
13     KO  Coca-Cola Co  2022-09-20   59.680
14    NKE      Nike Inc  2022-09-20  103.820
15   AAPL     Apple Inc  2022-09-02  159.750
16     BA     Boeing Co  2022-09-02  155.190
17   INTC    Intel Corp  2022-09-02   32.210
18     KO  Coca-Cola Co  2022-09-02   62.390
19    NKE      Nike Inc  2022-09-02  107.460
20   AAPL     Apple Inc  2022-08-22  169.690
21     BA     Boeing Co  2022-08-22  159.400
22   INTC    Intel Corp  2022-08-22   35.000
23     KO  Coca-Cola Co  2022-08-22   64.840
24    NKE      Nike Inc  2022-08-22  111.020
25   AAPL     Apple Inc  2022-08-08  166.370
26     BA     Boeing Co  2022-08-08  166.410
27   INTC    Intel Corp  2022-08-08   35.360
28     KO  Coca-Cola Co  2022-08-08   63.500
29    NKE      Nike Inc  2022-08-08  114.000

In [107]:
# establish connection and cursor object
connection = sqlite3.connect("stocks.db")
cursor = connection.cursor()

In [108]:
# create empty table
cursor.execute ('''CREATE TABLE stocks (symbol TEXT UNIQUE,
name TEXT UNIQUE, 
datetime TEXT, 
price INTEGER);''');

In [109]:
# import dataset to database 'users' 
data.to_sql('stocks', connection, if_exists='replace')

In [110]:
cursor.execute ('''SELECT * FROM stocks;''').fetchall()

[(0, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (2, 'INTC', 'Intel Corp', '2022-11-04', 27.96),
 (3, 'KO', 'Coca-Cola Co', '2022-11-04', 59.49),
 (4, 'NKE', 'Nike Inc', '2022-11-04', 97.32),
 (5, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (7, 'INTC', 'Intel Corp', '2022-10-04', 27.425),
 (8, 'KO', 'Coca-Cola Co', '2022-10-04', 56.95),
 (9, 'NKE', 'Nike Inc', '2022-10-04', 87.7),
 (10, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (12, 'INTC', 'Intel Corp', '2022-09-20', 29.065),
 (13, 'KO', 'Coca-Cola Co', '2022-09-20', 59.68),
 (14, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (17, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (18, 'KO', 'Coca-Cola Co', '2022-09-02', 62.39),
 (19, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (22, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (23, 'KO', 'Coca-Cola Co', '2022-08-22', 64.84),
 (24, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (27, 'INTC', 'Intel Corp', '2022-08-08', 35.36),
 (28, 'KO', 'Coca-Cola Co', '2022-08-08', 63.5),
 (29, 'NKE', 'Nike Inc', '2022-08-08', 114.0)]

In [111]:
# 1. What are the distinct stocks in the table?
cursor.execute ('''SELECT DISTINCT (symbol) FROM stocks;''').fetchall()

[('AAPL',), ('BA',), ('INTC',), ('KO',), ('NKE',)]

In [112]:
# 2. Query all data for a single stock. Do you notice any overall trends?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE symbol IS 'AAPL';''').fetchall()

[(0, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (5, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (10, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (15, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (20, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (25, 'AAPL', 'Apple Inc', '2022-08-08', 166.37)]

In [113]:
# 3. Which rows have a price above 100? 
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price > 100;''').fetchall()

[(0, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (5, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (10, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (14, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (19, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (24, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (29, 'NKE', 'Nike Inc', '2022-08-08', 114.0)]

In [114]:
# 4. And how about between 30 to 50?
cursor.execute ('''SELECT * 
    FROM stocks
    WHERE price BETWEEN 30 AND 50;''').fetchall()

[(17, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (22, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (27, 'INTC', 'Intel Corp', '2022-08-08', 35.36)]

In [115]:
# 5. Sort the table by price. What are the minimum and maximum prices?
cursor.execute ('''SELECT * 
    FROM stocks
    ORDER BY price DESC;''').fetchall()

[(20, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (26, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (25, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (1, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (15, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (21, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (16, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (10, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (5, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (0, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (6, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (29, 'NKE', 'Nike Inc', '2022-08-08', 114.0),
 (24, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (19, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (14, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (4, 'NKE', 'Nike Inc', '2022-11-04', 97.32),
 (9, 'NKE', 'Nike Inc', '2022-10-04', 87.7),
 (23, 'KO', 'Coca-Cola Co', '2022-08-22', 64.84),
 (28, 'KO', 'Coca-Cola Co', '2022-08-08', 63.5),
 (18, 'KO', 'Coca-Cola Co', '2022-09-02', 62.39),
 (13, 'KO', 'Coca-Cola Co', '2022-09-20', 59.68),
 (3, 'KO', 'Coca-Cola Co', '2022-11-04', 59.49),
 (8, 'KO', 'Coca-Cola Co', '2022-10-04', 56.95),
 (27, 'INTC', 'Intel Corp', '2022-08-08', 35.36),
 (22, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (17, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (12, 'INTC', 'Intel Corp', '2022-09-20', 29.065),
 (2, 'INTC', 'Intel Corp', '2022-11-04', 27.96),
 (7, 'INTC', 'Intel Corp', '2022-10-04', 27.425)]

In [116]:
# 6. Explore using aggregate functions to look at key statistics about the data.
# What is the maximum price? 
cursor.execute ('''SELECT symbol, name, datetime, MAX (price) 
    FROM stocks;''').fetchall()

[('AAPL', 'Apple Inc', '2022-08-22', 169.69)]

In [117]:
# 7. # What is the minimum price? 
cursor.execute ('''SELECT symbol, name, datetime, MIN (price) 
    FROM stocks;''').fetchall()

[('INTC', 'Intel Corp', '2022-10-04', 27.425)]

In [118]:
# 8. # What is the average price? 
cursor.execute ('''SELECT symbol, name, datetime, ROUND(AVG (price),0) 
    FROM stocks;''').fetchone()

('AAPL', 'Apple Inc', '2022-11-04', 101.0)

In [119]:
# 9. Group the data by stock. How do the stocks compare to each other?
cursor.execute ('''SELECT symbol, ROUND(AVG (price),0) 
    FROM stocks
    GROUP BY 1
    ORDER BY 2 DESC;''').fetchall()

[('AAPL', 155.0), ('BA', 153.0), ('NKE', 104.0), ('KO', 61.0), ('INTC', 31.0)]

In [147]:
# 10. Group the data by month. How do the months compare to each other?
cursor.execute ('''SELECT strftime ('%m', datetime) AS 'Month',
  ROUND (AVG (price), 0) AS 'Average Price',
  COUNT (*) AS 'Number of Stocks'
  FROM stocks
  GROUP BY 1
  ORDER BY 1;''').fetchall()

[('08', 109.0, 10), ('09', 101.0, 10), ('10', 89.0, 5), ('11', 96.0, 5)]

In [167]:
# 11. Insert data manually. First check the number of rows
cursor.execute ('''SELECT COUNT (*)
FROM stocks;''').fetchone()

(35,)

In [171]:
# Perform insert
cursor.execute ('''INSERT INTO stocks VALUES
(31, 'AAPL','Apple Inc', strftime('%Y-%m-%d','now'), 138.38);''')

In [153]:
cursor.execute ('''INSERT INTO stocks VALUES
(32, 'BA','Boeing Co', strftime('%Y-%m-%d','now'), 160.01);''')

In [164]:
cursor.execute ('''INSERT INTO stocks VALUES
(33, 'NKE','Nike Inc', strftime('%Y-%m-%d','now'), 95.79);''')

In [165]:
cursor.execute ('''INSERT INTO stocks VALUES
(34, 'KO','Coca-Cola Co', strftime('%Y-%m-%d','now'), 59.26);''')

In [166]:
cursor.execute ('''INSERT INTO stocks VALUES
(35, 'INTC','Intel Corp', strftime('%Y-%m-%d','now'), 28.20);''')

In [168]:
# check the number of rows now
cursor.execute ('''SELECT COUNT (*)
FROM stocks;''').fetchone()

(35,)

In [170]:
cursor.execute ('''SELECT *
FROM stocks;''').fetchall()

[(0, 'AAPL', 'Apple Inc', '2022-11-04', 136.51),
 (1, 'BA', 'Boeing Co', '2022-11-04', 160.21),
 (2, 'INTC', 'Intel Corp', '2022-11-04', 27.96),
 (3, 'KO', 'Coca-Cola Co', '2022-11-04', 59.49),
 (4, 'NKE', 'Nike Inc', '2022-11-04', 97.32),
 (5, 'AAPL', 'Apple Inc', '2022-10-04', 145.03),
 (6, 'BA', 'Boeing Co', '2022-10-04', 129.4),
 (7, 'INTC', 'Intel Corp', '2022-10-04', 27.425),
 (8, 'KO', 'Coca-Cola Co', '2022-10-04', 56.95),
 (9, 'NKE', 'Nike Inc', '2022-10-04', 87.7),
 (10, 'AAPL', 'Apple Inc', '2022-09-20', 153.4),
 (11, 'BA', 'Boeing Co', '2022-09-20', 145.26),
 (12, 'INTC', 'Intel Corp', '2022-09-20', 29.065),
 (13, 'KO', 'Coca-Cola Co', '2022-09-20', 59.68),
 (14, 'NKE', 'Nike Inc', '2022-09-20', 103.82),
 (15, 'AAPL', 'Apple Inc', '2022-09-02', 159.75),
 (16, 'BA', 'Boeing Co', '2022-09-02', 155.19),
 (17, 'INTC', 'Intel Corp', '2022-09-02', 32.21),
 (18, 'KO', 'Coca-Cola Co', '2022-09-02', 62.39),
 (19, 'NKE', 'Nike Inc', '2022-09-02', 107.46),
 (20, 'AAPL', 'Apple Inc', '2022-08-22', 169.69),
 (21, 'BA', 'Boeing Co', '2022-08-22', 159.4),
 (22, 'INTC', 'Intel Corp', '2022-08-22', 35.0),
 (23, 'KO', 'Coca-Cola Co', '2022-08-22', 64.84),
 (24, 'NKE', 'Nike Inc', '2022-08-22', 111.02),
 (25, 'AAPL', 'Apple Inc', '2022-08-08', 166.37),
 (26, 'BA', 'Boeing Co', '2022-08-08', 166.41),
 (27, 'INTC', 'Intel Corp', '2022-08-08', 35.36),
 (28, 'KO', 'Coca-Cola Co', '2022-08-08', 63.5),
 (29, 'NKE', 'Nike Inc', '2022-08-08', 114.0),
 (31, 'AAPL', 'Apple Inc', '2022-11-05', 138.38),
 (32, 'BA', 'Boeing Co', '2022 11 05', 160.01),
 (33, 'NKE', 'Nike Inc', '2022 11 05', 95.79),
 (34, 'KO', 'Coca-Cola Co', '2022 11 05', 59.26),
 (35, 'INTC', 'Intel Corp', '2022 11 05', 28.2)]

In [6]:
# close connection and cursor, commit changes
cursor.close()
connection.commit()
connection.close()

('2022 11 04',)